---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="ptbr">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>  
      Somos, o nome diz, um laboratório – um espaço para o exercício 
      de um trabalho (labor) intelectual: a pesquisa histórica. 
      
      Existimos há 21 anos anos fazendo pesquisa e ajudando a 
      formar bons pesquisadores em História. 
      
      Apresentamos abaixo algumas informações sobre o nosso laboratório.
    </main>
		<Footer />
	</body>
</html>
