---
import Layout from "../layouts/BaseLayout.astro";
---

<Layout title="Sobre" description="Somos um laboratório de pesquisa histórica">
  <article class="prose mx-auto py-12">
    <h1 class="text-3xl font-bold mb-4">Sobre o Labelu</h1>
    <p>
      Somos, o nome diz, um laboratório – um espaço para o exercício de um
      trabalho (labor) intelectual: a pesquisa histórica. Existimos há 21 anos
      anos fazendo pesquisa e ajudando a formar bons pesquisadores em História.
      Apresentamos abaixo algumas informações sobre o nosso laboratório.
    </p>

    <h2>Objetivos</h2>

    <p>
      Nosso objetivo principal é pesquisar a história e preservar a memória das
      lutas sociais e da esquerda. Compreendemos a história como um vasto e
      diversificado campo de conflitos sociais que se manifestam em terrenos
      distintos e que, por isso mesmo, se expressam através de formas e
      linguagens muito variadas. Para nós, no entanto, toda diversidade presente
      nas lutas sociais não apaga as conexões dos acontecimentos históricos
      singulares com a totalidade de relações sociais em que eles estão
      inscritos.
    </p>

    <p>
      Nossos estudos dialogam intensamente com a História Social. Estamos
      interessados em conhecer os sujeitos envolvidos nas lutas, tanto os
      dominantes quando os subalternos. Investigamos suas estratégias e formas
      de agir, os espaços em que atuam, a memória que constroem de si mesmos e
      de suas práticas, os limites, contradições e antagonismos com os quais se
      defrontam. Também nos interessam o debate historiográfico e teórico sobre
      as lutas sociais e o estudo da dimensão sócio-política envolvida na ação
      dos intelectuais.
    </p>

    <p>
      Já existe uma produção acadêmica significativa oriunda das pesquisas
      desenvolvidas no laboratório: dissertações de mestrado e TCCs, artigos
      publicados em revistas e coletâneas, comunicações apresentadas em eventos.
      O <i>Labelu</i> publicou em 2012 o livro Lutas Sociais, Intelectuais e Poder
      e também já organizou dezenas de seminários e espaços de debate, com participação
      de sua equipe e convidados.
    </p>

    <p>
      A memória é outro foco. Mesmo sem a pretensão de tornar-se um centro de
      documentação, o
      <i>Labelu</i> já identificou, recolheu, tratou, organizou e disponibilizou para
      consulta um conjunto significativo de acervos documentais, dentre os quais estão:
      Arquivo do DCE/UEFS; Acervo Aristeu Nogueira; Arquivo Victor Meyer (POLOP);
      Acervo da Associação das Entidades de Feira de Santana (ADEFS); Acervo Gerinaldo
      Costa, documentos da Comissão Estadual da Verdade (BA).
    </p>

    <h2>Participantes</h2>

    <p>
      O <i>Labelu</i> é um laboratório de pesquisa, não um grupo de discussão. A primeira
      condição para fazer parte do <i>Labelu</i> é ter um projeto de pesquisa, mesmo
      que em fase inicial de desenvolvimento, com alguma relação com a temática geral
      do laboratório. Por isso, no <i>Labelu</i>, somos todos pesquisadores:
      alunos de graduação e do mestrado, ex-alunos, docentes e funcionário
      universitário, professores do ensino fundamental, médio e superior.
    </p>

    <p>
      Neste momento estamos estruturando linhas de pesquisa, uma organização que
      permitirá intensificar a colaboração entre pesquisas cujas problemáticas
      sejam próximas. A segunda condição para participar do <i>Labelu</i> é comprometer-se
      com os espaços coletivos de estudo e discussão e com a repartição das tarefas
      cotidianas do laboratório.
    </p>

    <h2>Funcionamento</h2>

    <p>
      O trabalho coletivo é uma característica do <i>Labelu</i>. O laboratório é
      conduzido de forma colegiada pela equipe, que é composta por todos os
      pesquisadores, e tudo é decidido e encaminhado coletivamente. Projetos e
      resultados das pesquisas dos membros são regularmente submetidos à
      discussão coletiva.
    </p>

    <p>
      Para tanto realizamos reuniões semanais, que são também o espaço para o
      estudo de textos que consideramos importantes e úteis às pesquisas e para
      as deliberações e encaminhamentos sobre todos os aspectos práticos que
      envolvem o funcionamento do laboratório.
    </p>

    <h2>Recursos</h2>

    <p>
      O <i><i>Labelu</i></i> está instalado em sala própria, no prédio do Mestrado
      de História (anexo do módulo 7) equipado com carteiras individuais, mesa de
      reunião e cadeiras, armário, estantes, computadores, impressora. Além dos acervos
      documentais dispomos de alguns acervos bibliográficos obtidos por doação, dentre
      os quais a biblioteca de Chico Pinto.
    </p>

    <p>
      Os três projetos coletivos disponibilizam bolsas de IC periodicamente. Um
      funcionário historiador trabalha no laboratório e é membro da equipe.
    </p>
  </article>
</Layout>
